@import "../variables";
@import "../material-icons";


.grid{
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  width: 200px;
  display: grid;
  justify-content: center;
  grid-row-gap: 2rem;
  padding: 3rem 0;

}

.grid > div {
  display: grid;
  grid-template-columns: 2rem 5rem;
  grid-column-gap: 1rem;
}

h6{
  margin: 0;
  color: $grey4;
}

p{
  margin: 0;
  font-size: 0.8rem;
  color: $grey-1;
}

i{
  font-size: 2rem !important;
}

.grey-2{
  color: $grey-2;
}

.orange-1{
  color: $orange;
}
