<section >
  <header>
    <h1>Classic Cheesecake Recipe</h1>
    <h6>Look no further for a creamy and ultra smooth classic cheesecake recipe! Paired with a buttery graham cracker crust, no one can deny its simple decadence. For the best results, bake in a water bath.</h6>
  </header>
  <main class="grid">
    <figure>
      <img src="/media/cc0-images/elephant-660-480.jpg"
           alt="Elephant at sunset">
      <figcaption>An elephant at sunset</figcaption>
    </figure>
    <app-ingredients></app-ingredients>
    <app-informations></app-informations>
    <app-instructions></app-instructions>
  </main>
  <footer>
    <small>Your name @ DevChallenges.io</small>
  </footer>
</section>

