<section>
  <header>
    <h1>Classic Cheesecake Recipe</h1>
    <h6>Look no further for a creamy and ultra smooth classic cheesecake recipe! Paired with a buttery graham cracker crust, no one can deny its simple decadence. For the best results, bake in a water bath.</h6>
  </header>
  <main class="grid">
    <figure class="grid-area--banner">
      <div class="cheese-cake--img"></div>
      <figcaption>An elephant at sunset</figcaption>
    </figure>
    <app-ingredients class="grid-area--ingredients"></app-ingredients>
    <app-informations class="grid-area--information"></app-informations>
    <app-instructions class="grid-area--instructions"></app-instructions>
  </main>
  <footer>
    <small>Your name @ DevChallenges.io</small>
  </footer>
</section>

