@import "../variables";

h2{
  color: $grey-1;
  font-weight: 500;
}
h3{
  color: $grey-1;
  font-style: italic;
  font-weight: 200;
}

.ingredient{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.ingredient--checkbox{
  display: inline-block;
}

.grid{
  width: 65%;
}

ul{
  padding: 0;
}

ul li {
  list-style-type: none;
  display: flex;
  margin: 0.5rem 0;
}

input[type=checkbox] {
  transform: scale(1.3);
}

p{
  margin: 0 0 0 1rem;
  line-height: 1.2rem;
}
